.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
.link {
  text-decoration: none;
  text-align: center;
}
