.tag {
  display: flex;
  width: auto;
}
.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textArea {
  height: 10rem;
  /* border: 2px solid #cdc8c8; */
  /* width: 100%; */
  background-color: rgb(83, 164, 235);
  color: black;
}

.title {
  height: 2.5rem;
  font-size: xx-large;
  outline: none;
  color: rgb(244, 239, 239);
  font-weight: bold;
  background-color: #0f172a;
}

.category {
  background-color: aliceblue;
}

.tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chip {
  background-color: aliceblue;
}
