.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.09;
  filter: contrast(1.2);
  filter: saturate(1.2);
  z-index: -1;
}
