.blog {
  width: 80%;
  height: 20rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  cursor: pointer;
  padding-block: 0.2rem;
  transition: transform 0.2s ease-in-out;
}
.blog:hover {
  background-color: #1d2331;
  color: blue;
  transform: scale(1.03);
}
.contributor {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  flex-basis: 80%;
}

.right {
  flex-basis: 20%;
  margin: 2.5rem;
}
.right img {
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
}
.contributor img {
  height: 3rem;
  border-radius: 60px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}
